body {
  min-height: 100vh;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

p {
  font-weight: 300;
}

.dash-card {
  width: fit-content;
  margin: 0 auto;
  border: 0;
  background-color: white;
  box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.15);
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: 0;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 32px;
  }
}
