.ScatterPlot {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.ScatterPlot circle {
  fill-opacity: .5;
  fill: #1e90ff;
}

.ScatterPlot line,
.ScatterPlot text,
.ScatterPlot path {
  opacity: 0.75;
}

.ScatterPlot circle:hover {
  fill-opacity: 1;
}

.ScatterPlot .tooltip {
  position: absolute;
  text-align: center;
  padding: 15px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  pointer-events: none;
  box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.10);
}

.ScatterPlot .tooltip span {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.ScatterPlot .tooltip h3 {
  text-align: left;
}
