.ScatterPlot {
  display: flex;
  justify-content: center;
}

.ScatterPlot circle {
  fill-opacity: .75;
  fill: #1e90ff;
}

.ScatterPlot line,
.ScatterPlot text,
.ScatterPlot path {
  opacity: 0.55;
}

.ScatterPlot .axis path, .ScatterPlot .axis line {
  stroke-width: 2px;
  opacity: 0.15;
}

.ScatterPlot text {
  font-weight: bold;
}

.ScatterPlot circle:hover {
  fill-opacity: 1;
}

.ScatterPlot .tooltip {
  position: absolute;
  text-align: center;
  padding: 15px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  pointer-events: none;
  border: 1px solid rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.75);
}

.ScatterPlot .tooltip span {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.ScatterPlot .tooltip h3 {
  text-align: left;
}

.ScatterPlot .grid .tick {
  opacity: 0.15;
}
.ScatterPlot .grid path {
    stroke-width: 0;
}

